.footer-style {
    background-color: #101018f8;
    color: #fff;
    font-size: 1.5rem;
    border: 2px solid #101018f8;
    border-top-left-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
 
    
  }



@media (max-width: 768px) {
  .footer-style {
    font-size: 1.25rem;
    flex-direction: column;
    text-align: center; 
    padding: 1.5rem; 
  }
}


@media (max-width: 480px) {
  .footer-style {
    font-size: 1rem; 
    padding: 1rem; 
    text-align: center; 
  }
}