.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #686794;
    color: hwb(250 94% 4%);
   
  }
  
  .home-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .home-section p {
    font-size: 1.5rem;
    font-weight: 300;
  }

 

@media (max-width: 768px) {
  .home-section {
    padding: 1.5rem; 
  }

  .home-section h1 {
    font-size: 2.5rem; 
  }

  .home-section p {
    font-size: 1.2rem; 
  }
}


@media (max-width: 480px) {
  .home-section {
    padding: 1rem; 
  }

  .home-section h1 {
    font-size: 2rem; 
  }

  .home-section p {
    font-size: 1rem; 
    }
}